@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);

body {
  min-width: 960px;
}
#experience {
  position: relative;
  width: 100%;
}
#experience h1 {
  background: url(../images/logo.svg) no-repeat;
  position: absolute;
  top: -3%;
  left: 7%;
  text-indent: -9999px;
  width: 85%;
  height: 85%;
}
#call_me {
  position: absolute;
  top: 46%;
  left: 50%;
  margin-left: -200px;
  width: 468px;
  height: 62px;
}
#call_me input:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 60px;
  font-family: 'Muli', sans-serif;
  font-weight:300;
  font-size: 26px;
  text-align: center;
  color: white;
  background: hsla(0, 0%, 0%, .6);
  border: 1px solid hsla(327, 68%, 50%, 1);
}
#call_me input:last-child {
  text-indent: -9999px;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  color: white;
  background: hsla(327, 68%, 50%, 1) url(../images/mail_icon.svg) no-repeat 0 0;
  border: 1px solid hsla(327, 68%, 50%, 1);
}
#call_me input:focus {
  border: 1px solid white;
  outline: 0;
}